@charset "utf-8";

* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {
    margin: 0;padding:0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, b, strong, th {
    font-weight: inherit;
}

i, em, address {
    font-style: inherit;
}

ul, ol, li {
    list-style: none;
}

input, textarea, img, button, iframe {
    border:none;
}